{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<h5>Add an Item</h5>
<form class="p-4 p-md-5 border rounded-3 bg-light" method="POST">
    {% csrf_token %}
    
    <div class="form-floating mb-3">
        {% render_field form.name class="form-control" %}
        <label for="floatingInput">Item Name</label>
    </div>
    <div class="form-floating mb-3">
        {% render_field form.amount class="form-control" %}
        <label for="floatingInput">Amount</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
</form>

{% endblock content %}